.main-link,
.site-logo,
.sitenav-link {
    text-decoration: none
}

.main-link,
.sitenav {
    text-transform: uppercase;
    letter-spacing: 2px
}

.main-link:hover,
body {
    background-color: #fff
}

:root {
    --accent-color: rgba(222, 46, 84, 1);
    --heading-font: "Open Sans Condensed", "Open Sans", "Arial", sans-serif
}

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444
}

:focus {
    outline: 2px dotted var(--accent-color);
    outline-offset: 2px
}

.container {
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto
}

.site-header {
    padding-top: 24px;
    padding-bottom: 25px
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.site-logo {
    display: flex;
    align-items: center;
    color: #222;
    font-size: 24px;
    font-weight: 600
}

.site-logo:hover,
.sitenav-link:hover,
.sitenav-site-footer .sitenav-link:hover {
    color: var(--accent-color)
}

.site-logo:active,
.sitenav-link:active {
    opacity: .6
}

.site-logo-site-footer,
.site-logo-site-footer:active,
.sitenav-site-footer .sitenav-link {
    color: #fff
}

.site-logo-img {
    margin-right: 16px
}

.sitenav {
    font-size: 14px;
    font-weight: 700
}

.sitenav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none
}

.sitenav-item:not(:last-child) {
    margin-right: 32px
}

.sitenav-link {
    display: block;
    color: #222
}

.sitenav-site-footer .sitenav-link:active {
    color: #fff;
    opacity: .6
}

.main-link {
    display: inline-block;
    padding: 10px 22px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    font-family: var(--heading-font);
    background-color: var(--accent-color);
    color: #fff;
    font-size: 15px
}

.hero-content,
.index-services {
    padding-top: 120px;
    padding-bottom: 120px
}

.cta-heading,
.hero-heading,
.index-services-heading {
    font-size: 36px;
    line-height: 1.2;
    font-family: var(--heading-font)
}

.main-link:hover {
    color: var(--accent-color);
    border-color: var(--accent-color)
}

.main-link:active {
    background-color: var(--accent-color);
    color: #fff;
    opacity: .6
}

.main-link-solid:hover {
    color: #fff;
    border-color: transparent;
    background-color: rgba(222, 46, 84, .8)
}

.main-link-solid:active {
    background-color: rgba(222, 46, 84, .6);
    opacity: 1
}

.main-link-outline {
    border-color: #fff;
    color: #fff;
    background-color: transparent
}

.cta,
.hero {
    background-color: #0eb4c1
}

.main-link-outline:hover {
    background-color: var(--accent-color);
    color: #fefcfc;
    border-color: transparent
}

.hero {
    color: #fff
}

.hero-container {
    display: flex;
    justify-content: space-between
}

.hero-content {
    width: 500px
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 16px
}

.hero-text {
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px
}

.hero-img {
    align-self: flex-end
}

.index-services-heading {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
    color: #000
}

.index-services-list {
    width: 864px;
    padding: 0;
    margin: 0 auto 60px;
    list-style: none
}

.index-services-item:not(:last-child) {
    margin-bottom: 80px
}

.index-service {
    display: flex;
    align-items: center
}

.index-service-img {
    width: 200px;
    height: 200px;
    margin-right: 64px;
    object-fit: cover;
    box-shadow: rgba(0, 107, 116, .3);
    border-radius: 24px
}

.index-service-content {
    width: 600px
}

.index-service-title {
    margin-top: 0;
    margin-bottom: 24px;
    color: #222
}

.index-service-description {
    margin: 0
}

.index-services-actions {
    display: flex;
    justify-content: center
}

.cta {
    padding-top: 64px;
    padding-bottom: 64px;
    color: #fff
}

.cta-heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center
}

.cta-links {
    display: flex;
    justify-content: center;
    align-items: center
}

.cta-links-item:not(:last-child) {
    margin-right: 40px
}

.site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
    color: #222
}

.site-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}
